<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/q/css/css.css"/>
</head>
<body>
<div class="wrap">
    <div class="banner"></div>
    <div class="nav">
        <div class="nav_1">
            <span>Roux Meetups</span>
            <ul>
                <li><a>Home</a></li>
                <li><a href="http://localhost:3000/mem">Speakers <i class="caret"></i></a></li>
                <li><a href="http://localhost:3000/user">Feedback</a></li>
                <li><a href="http://localhost:3000/chat">Chat</a></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="main_1">
            <dl>
                <dd><h2>Art in Full Bloom</h2><p>with Lorenzo Garcia</p></dd>
                <dt><a href="http://localhost:3000/one"><img src="/q/img/tou1.jpg" alt=""/></a></dt>
            </dl>
            <dl>
                <dd><h2>Deep Sea Wonders</h2><p>with Hilary Goldywynn Post</p></dd>
                <dt><a href="http://localhost:3000/two"><img src="/q/img/tou2.jpg" alt=""/></a></dt>
            </dl>
            <dl>
                <dd><h2>The Art of Abstract</h2><p>with Riley Rudolph Rewington</p></dd>
                <dt><a href="http://localhost:3000/three"><img src="/q/img/tou3.jpg" alt=""/></a></dt>
            </dl>
        </div>
    </div>
    <div class="content">
        <div class="content_1">
            <div class="content_le">
                <h2>Who are we?</h2>
                <span>Failure is probably the fortification in your pole. It is like a peek your wallet as the thief, when you are thinking how to spend several hard-won lepta, when you are wondering whether new money, it has laid background. Because of you, then at the heart of the most lax, alert, and most low awareness, and left it godsend failed.</span>
                <p>Failure is probably the fortification in your pole. It is like a peek your wallet as the thief, when you are thinking how to spend several hard-won lepta, when you are wondering whether new money, it has laid background. Because of you, then at the heart of the most lax, alert, and most low awareness, and left it godsend failed.</p>
                <h2>Get Busy!</h2>
                <span>Failure is probably the fortification in your pole. It is like a peek your wallet as the thief, when you are thinking how to spend several hard-won lepta, when you are wondering whether new money, it has laid background. Because of you, then at the heart of the most lax, alert, and most low awareness, and left it godsend failed.</span>
                <h2>Who should come?</h2>
                <ul>
                    <li>Failure is probably the fortification in your pole</li>
                    <li>Success and failure is and walkers</li>
                    <li>To climb up from the failure is difficult to climb up</li>
                </ul>
            </div>
            <div class="content_ri">
                <h2>Who should come?</h2>
                <ul>
                    <li>Failure is probably the fortification in your pole</li>
                    <li>Success and failure is and walkers</li>
                    <li>To climb up from the failure is difficult to climb up</li>
                </ul>
                <h2>Who should come?</h2>
                <span>To climb up from the failure is difficult to climb up</span>
                <div><img src="/q/img/a1.jpg" alt=""/></div>
                <div><img src="/q/img/a2.jpg" alt=""/></div>
                <div><img src="/q/img/a3.jpg" alt=""/></div>
                <div><img src="/q/img/a4.jpg" alt=""/></div>
                <div><img src="/q/img/a5.jpg" alt=""/></div>
                <div><img src="/q/img/a6.jpg" alt=""/></div>
                <div><img src="/q/img/a7.jpg" alt=""/></div>
                <div><img src="/q/img/a8.jpg" alt=""/></div>
                <div><img src="/q/img/a9.jpg" alt=""/></div>
                <div><img src="/q/img/a10.jpg" alt=""/></div>
                <div><img src="/q/img/a11.jpg" alt=""/></div>
                <div><img src="/q/img/a12.jpg" alt=""/></div>
                <div><img src="/q/img/a13.jpg" alt=""/></div>
                <div><img src="/q/img/a14.jpg" alt=""/></div>
                <div><img src="/q/img/a15.jpg" alt=""/></div>
                <div><img src="/q/img/a16.jpg" alt=""/></div>
                <div><img src="/q/img/a17.jpg" alt=""/></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>