<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/q/css/css.css"/>
</head>
<body>
<div class="wrap">
    <div class="banner"></div>
    <div class="nav">
        <div class="nav_1">
            <span>Roux Meetups</span>
            <ul>
                <li><a href="http://localhost:3000">Home</a></li>
                <li><a href="http://localhost:3000/mem">Speakers <i class="caret"></i></a></li>
                <li><a href="http://localhost:3000/user">Feedback</a></li>
                <li><a href="http://localhost:3000/chat">Chat</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="content_1">
            <div class="content_le">
                <h2>Art in Full Bloom</h2>
                <h6>with Lorenzo Garcia</h6>
                <div class="three">
                    <div class="three1">
                        <img src="/q/img/Riley_Rewington.jpg" alt="">
                    </div>
                    <div class="three2">
                        人物介绍人物介绍人物介绍人物介绍人物介绍人物介绍人物介绍人物介绍
                        人物介绍人物介绍人物介绍人物介绍人物介绍人物介绍人物介绍
                        人物介绍人物介绍人物介绍人物介绍人物介绍人物介绍
                        人物介绍人物介绍人物介绍人物介绍人物介绍
                        人物介绍人物介绍人物介绍人物介绍
                        人物介绍人物介绍人物介绍
                        人物介绍人物介绍
                        人物介绍
                    </div>
                </div>

            </div>
            <div class="content_ri">
                <h2>Artwork on display</h2>
                <span>To climb up from the failure is difficult to climb up</span>
                <div><img src="/q/img/a12.jpg" alt=""/></div>
                <div><img src="/q/img/a13.jpg" alt=""/></div>
                <div><img src="/q/img/a14.jpg" alt=""/></div>
                <div><img src="/q/img/a15.jpg" alt=""/></div>
                <div><img src="/q/img/a16.jpg" alt=""/></div>
                <div><img src="/q/img/a17.jpg" alt=""/></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>